/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.faqs-container
{
    width: 50%;
    margin: 0 auto;
}
.faqs-container h2
{
    color: black;
    position: relative;
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
}
.accordion
{
    width: 100%;
    padding: 0 5px;
    background-color: rgb(251,92,4,0.5);
    border: 2px solid rgb(255,255,255);
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;

}
.accordion .icon
{
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px; 
    background-image: url("../images/toogle_expandir.png");
    background-size: cover;
    background-color: rgb(251,92,4);
    border-radius: 50%;
    float: left;
    transition: all .5s ease-in;
    z-index: 4;
    
}
.accordion h5
{
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: normal;
    color: rgb(0,0,0);
    transition: all .5s ease-in;
}
.panel
{
    padding: 0 15px;
    border-left: 1px solid #6db5ff;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all .5s ease-in;
}
.active-preguntas .icon
{
    background: url("../images/toogle_contraer.png") #fff;
    background-size: cover;

}
.active-preguntas
{
    background-color: rgb(251,92,4,0.5);
    color: #fff;
}
.active-preguntas h5
{
    color: #fff;
}