/* *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* body
{
    background-color: #eee;
    font-family: "Century Gothic";
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.title-historias
{
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    margin: 10px 0;
    font-size: 4rem;
}
.title-historias::after
{
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.team-row
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}
.member
{
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.3s;
    /* box-shadow: 0 10px 20px rgba(255,255,255,0.4); */
    background-color: #e4c44799;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}
.member:hover
{
    box-shadow: 0 3px 13px 1px #fb5c04;
    transform: translateY(-20px);
}
.member img
{
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #fb5c04;
    border-radius: 50%;
    margin: 0 auto;
}
.member h2
{
    text-transform: uppercase;
    font-size: 24px;
    color: #000000;
    margin: 15px 0;
}
.member p
{
    font-size: 15px;
    color: #000000;
    line-height: 1.6;
    font-size: 1.2rem;
}
.botonHistoria
{
  align-items: center;
  font-family: 'Amatic SC', cursive;
  appearance: none;
  background-color: #fb5c04;
  background-image: linear-gradient(1deg, #fb5c04, #f79f70 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.5rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.botonHistoria,
.botonHistoria:focus {
  outline: none;
}

.botonHistoria:hover {
  background-position: -20px -20px;
}

.botonHistoria:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}