.background{
    opacity: 70%;
}
.menu{
    position: absolute;
    top: 15vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 20vw;

    padding-bottom: 20px;
    box-shadow: 0 3px 13px 2px rgb(0 0 0 / 50%);
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.8);

}
.logo-image{
    margin: 10px;
    width: 10vw;
}
button{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 13px;
    background-color: #bd7d1d;
    color: white;
    border: 2px solid white;
    margin-top: 10px;

}
button:hover{
    background-color: #085e29;
}
* 
{
    font-family: 'Poppins',sans-serif;
}

body
{
    min-height: 100vh;
    background: #0c192c ;
}
.container
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles
{
    position: relative;
    display: flex;
}
.bubbles span
{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even)
{
    background-color: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}
@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}
@import url('https: //fonts.googleapis.com/css2?family=Poppins: wght@700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
h2
{
    position: absolute;
    font-size: 14vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52 ;
    text-transform: uppercase;
}
h2::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52 ;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}